.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

button {
  margin-right: 10px;
}

th {
  margin-right: 40px;
}

.col-12 button {
  margin-bottom: 10px;
}

.cliente {
  margin-left: 10px;
}
